/**
 * Created by jindrichdolezal on 02.05.2023
 */

@font-face {
    font-family: "Cherry Bomb";
    src: url("../../Font/CherryBomb-Regular.ttf") format("truetype");
}

.container {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
}
.login {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
}
.beerbackground-zc2qt-kscaled1 {
    top: 0px;
    left: -879px;
    width: 2560px;
    height: 1860px;
    position: absolute;
    z-index: -1;
}
.rectangle1 {
    top: auto;
    left: auto;
    align-self: center;
    margin-left: 400px;
    width: 731px;
    height: 503px;
    position: absolute;
    align-content: center;
    background-color: snow;
}
.rectangle4 {
    top: auto;
    left: auto;
    width: 178px;
    height: 69px;
    position: absolute;
}
.text {
    margin-top: 100pt;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    text-align: left;
    font-family: Cherry Bomb, sans-serif;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    z-index: 1;
}
.text02 {
    top: auto;
    left: auto;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    text-align: left;
    font-family: Cherry Bomb, sans-serif;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.question{
    position: absolute;
    width: 100%;
    height: 36px;
    top: 100px;
    justify-content: center;
    text-align: center;
    margin-top: 30pt;

    font-family: 'Cherry Bomb';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;

    color: #000000;
}
.perInfoForm{
    position: absolute;
    width: 645px;
    height: 400pt;
    left: 300pt;
    top: 190px;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;

    background: #FFD301;
    backdrop-filter: blur(2px);
    border-radius: 10px;
}
.formText {
    position: relative;
    right: 150pt;

    font-family: 'Cherry Bomb';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    color: #000000;
}
.formLabel {
    position: relative;
    width: 480px;
    height: 41px;

    background: #F1F1F1;
    border-radius: 10px;
}
.button{
    position: relative;
    width: 244px;
    height: 80px;
    margin-top: 20pt;
    background: #EAEAF0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
